:root{ --green:#006666; }

body { color: rgb(153, 153, 153); font-family: monospace; font-size: 20pt; background-color: rgb(0, 0, 0); }
a:link, a:visited, a:active { color: var(--green); text-decoration: none; }
a:hover { text-decoration: underline; }

.mainbox{ width: 57%; height: 57%; padding: 7px; margin: auto; margin-top: 30px; outline: var(--green) solid 1px; display: table; }
#search{ width: 100%; padding: 0; position: fixed; bottom: 0%; }
#searchlist{ width: 100%; padding: 0; position: fixed; bottom: 0px; opacity: 0.7; }
#q{ font-family: monospace; width: 80%; background-color: rgb(0, 0, 0); color: rgb(193, 180, 146); outline: none; border: none; }